<div
    bsModal
    #createOrEditModal="bs-modal"
    class="modal fade"
    tabindex="-1"
    role="dialog"
    aria-labelledby="createOrEditModal"
    aria-hidden="true"
    [config]="{ backdrop: 'static' }"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #abpVersionForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="abpVersion.id">{{ l('EditAbpVersion') }}</span>
                        <span *ngIf="!abpVersion.id">{{ l('CreateNewAbpVersion') }}</span>
                    </h4>

                    <button
                        type="button"
                        class="btn-close"
                        (click)="close()"
                        aria-label="Close"
                        [disabled]="saving"
                    ></button>
                </div>
                <div class="modal-body">
                    <div class="my-3">
                        <label class="form-label" for="AbpVersion_Name">{{ l('Name') }} *</label>
                        <input
                            type="text"
                            #AbpVersion_Name="ngModel"
                            id="AbpVersion_Name"
                            class="form-control"
                            [(ngModel)]="abpVersion.name"
                            name="Name"
                            required
                        />
                        <validation-messages [formCtrl]="AbpVersion_Name"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="AbpVersion_Version">{{ l('Version') }} *</label>
                        <input
                            type="text"
                            #AbpVersion_Version="ngModel"
                            id="AbpVersion_Version"
                            class="form-control"
                            [(ngModel)]="abpVersion.version"
                            name="Version"
                            required
                        />
                        <validation-messages [formCtrl]="AbpVersion_Version"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="AbpVersion_Md5">{{ l('Md5') }}</label>
                        <input
                            type="text"
                            #AbpVersion_Md5="ngModel"
                            id="AbpVersion_Md5"
                            class="form-control"
                            [(ngModel)]="abpVersion.md5"
                            name="Md5"
                        />
                        <validation-messages [formCtrl]="AbpVersion_Md5"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="AbpVersion_DownloadUrl">{{ l('DownloadUrl') }}</label>
                        <input
                            type="text"
                            #AbpVersion_DownloadUrl="ngModel"
                            id="AbpVersion_DownloadUrl"
                            class="form-control"
                            [(ngModel)]="abpVersion.downloadUrl"
                            name="DownloadUrl"
                        />
                        <validation-messages [formCtrl]="AbpVersion_DownloadUrl"></validation-messages>
                    </div>

                    <div class="my-3">
                        <label class="form-label" for="AbpVersion_ChangelogUrl">{{ l('ChangelogUrl') }}</label>
                        <input
                            type="text"
                            #AbpVersion_ChangelogUrl="ngModel"
                            id="AbpVersion_ChangelogUrl"
                            class="form-control"
                            [(ngModel)]="abpVersion.changelogUrl"
                            name="ChangelogUrl"
                        />
                        <validation-messages [formCtrl]="AbpVersion_ChangelogUrl"></validation-messages>
                    </div>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="AbpVersion_IsEnable"
                            #AbpVersion_IsEnable="ngModel"
                            name="IsEnable"
                            [(ngModel)]="abpVersion.isEnable"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsEnable') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="AbpVersion_IsEnable"></validation-messages>

                    <br />
                    <label class="form-check form-check-custom form-check-solid">
                        <input
                            id="AbpVersion_IsForced"
                            #AbpVersion_IsForced="ngModel"
                            name="IsForced"
                            [(ngModel)]="abpVersion.isForced"
                            type="checkbox"
                            class="form-check-input"
                        />
                        <span class="form-check-label">
                            {{ l('IsForced') }}
                        </span>
                    </label>
                    <validation-messages [formCtrl]="AbpVersion_IsForced"></validation-messages>
                </div>
                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">
                        {{ l('Cancel') }}
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary blue"
                        [disabled]="!abpVersionForm.form.valid"
                        [buttonBusy]="saving"
                        [busyText]="l('SavingWithThreeDot')"
                    >
                        <i class="fa fa-save"></i>
                        <span>{{ l('Save') }}</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
